<div class="container">
  <div class="row">
    <div class="col">
      <div class="card card-sm">
        <img src="/assets/img/software.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Servicio</h5>
          <p class="card-text">Presentamos nuestros servicio de software</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-sm">
        <img src="/assets/img/Pragramacion.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Programas</h5>
          <p class="card-text">Lenguaje en el que se trabaja</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-sm">
        <img src="/assets/img/gif-4.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Software</h5>
          <p class="card-text">Nuestro software</p>
        </div>
      </div>
    </div>
  </div>
</div>

